@charset "utf-8";
.n_main{
	width: 1210px;
	padding: 20px;
	border: 1px solid #e6e6e6;
}
.n_input450{
	width: 450px;
	padding-left: 10px;	
}
.n_input230{
	width: 230px;
	padding-left: 10px;	
}
.textarea{
	width: 300px;
	height: 100px;
}
.margin20{
	margin-bottom: 20px;
}
.n_sel{
	width: 200px;
}
.n_div_t{
	margin-bottom: 20px;
}
.n_main .red{
	color: #ff0707;
}

.n_box{
	margin-bottom: 10px;
}
.n_head{
	padding-left: 60px;
	padding-top: 6px;
	position: relative;
	height: 44px;
	background: #69bd69 url(../images/n_title_1.gif) no-repeat 0 0;
}

.n_head.file{
	background: #6A97D0 url(../images/n_title_2.gif) no-repeat 0 0;
}

.span_t{
	color: #fff;
}
.n_r_btn{
	position: absolute;
	right: 10px;
	top: 10px;
}
.n_r_btn a{
	background: url(../images/n-icon.gif) no-repeat;
	display: inline-block;
	width: 38px;
	height: 32px;
}
.n_r_btn a.n_zk{
	background-position: 0 0;
}
.n_r_btn a.n_zk{
	background-position: 0 -34px;
}
.body_span{
	height: 45px;
	line-height: 45px;
	border: 1px solid #ddd;
}
.n_par{
	border: 1px solid #ddd;
	padding: 3px;
}
.n_child{
	padding: 10px;
}
.body_bt{
	background: #f0f0f0;
	font-weight: bold;	
}
.body_span span{
	display: inline-block;
	text-align: center;
	width: 19%;
	color: #686b71;
}
.body_span span.span_last{
	vertical-align: middle;
}
.body_con{
	height: auto;
	line-height: auto;
}
.n_add{
	margin-left: 10px;
	color: #4c8ec2;
	font-weight: bold;;
}
.n_add:hover{
	text-decoration: none;
}
.span_last a{
	display: inline-block;
	width: 20px;
	height: 21px;
	background: url(../images/n-icon.gif) no-repeat;
	vertical-align: middle;
	margin: 0 5px;
}
.add_rw{
	background: #69bd69;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	margin-top: 20px;
}
.add_rw:hover{
	text-decoration: none;
	color: #fff;
}
.n_b{
	text-align: center;
}
.n_add_box{
	height: 150px;
}
.rw_xl{
	background: #fff;
	border: 1px solid #ddd;
	width: 130px;
}
.rw_xl a{
	display: block;
	color: #333;
	padding: 6px 12px;
}
.rw_xl a:hover{
	background: #ddd;
	text-decoration: none;
}
.span_last a.n_bj{
	background-position: 0 -69px;
}
.span_last a.n_del2{
	background-position: 0 -94px;
}
.rw-a1{
	background: #4a9bff;
}
.rw-a2{
	background: #d26a5c;
}
.n_concent table tr th,.n_btn table tr th{
	font-weight: normal;
	font-size: 12px;
}
.n_concent table tr td{
	height: 50px;
}
.n_concent table .add_rw{
	margin-top: 0;
}
.n_radio{
	display: none;
}
.rw-bg{
	background: #6a97d0;
}
.n_concent table.n_table tr th,.n_concent table.n_table tr td{
	border:1px solid #ddd;
	height: 30px;
	text-align: center;
	color: #666;
}
.n_concent table.n_table tr th{
	background: #EDEDED;
	font-weight: bold;

}
.n_concent table.n_table tr td{
	height: 40px;
}
.file-a{
	display: inline-block;
	color: #666;
	border:1px solid #ddd;
	background: #F5F5F5;
	padding: 0 5px;
	border-radius: 3px;
	margin: 0 5px;
	font-size: 12px;
}
.file-a:hover{
	text-decoration: none;
}
/****公用弹出框****/
.pop-bg{background: #000; filter:alpha(opacity=50);   -moz-opacity:0.5;  -khtml-opacity: 0.5;  opacity:0.5;width: 100%;height: 100%; position: fixed;top:0;left:0;z-index: 10; }
.dzsw-pop{width:800px;background: #fff; position: absolute; left: 50%;;top:20%; margin-left: -284px; z-index: 999;border:1px solid #e1dede;
  -webkit-box-shadow:0 0 10px #999;  
  -moz-box-shadow:0 0 10px #999;  
  box-shadow:0 0 10px #999; }
.pop850{width: 850px;margin-left: -425px;}
.pop-top{height: 50px;line-height: 50px;background: #edf0f7;padding: 0 22px;}
.pop-title{font-size: 14px;color: #666;font-weight: bold; }
.m-pop-close{display: inline-block;color: #8c8d8f;font-weight: bold;font-size: 16px;width: 12px;height: 11px;line-height: 12px; margin-top: 20px;background:url("../images/yunying-icon.png") no-repeat 0 0;transition: all 0.2s;-moz-transition: none; /* Firefox 4 */-webkit-transition: none; /* Safari 和 Chrome */-o-transition: none; /* Opera */}
.m-pop-close:hover{background-position: 0 -12px;}
.pop-con{padding: 35px 0 0; background: #fff; width: 750px;margin: 0 auto;}
.pop-top2{background: #fff;}
.scr-height{ margin-bottom: 30px;max-height: 230px;overflow-y: auto;}
.ckbm-h5{border-bottom: 1px solid #e2e2e2;padding-bottom: 20px;text-align: left;width:380px;margin:0 auto 20px;}
.con-table{
	height: 450px;
}
.m-pop-close {
    background: url("../images/yunying-icon.png") no-repeat scroll 0 0;
    color: #8c8d8f;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 11px;
    line-height: 12px;
    margin-top: 20px;
    transition: none 0s ease 0s ;
    width: 12px;
}
.con-btn {
    font-size: 0;
    margin-bottom: 24px;
    text-align: center;
}
.con-btn a {
    margin-right: 18px;
}
.btn-submit {
    background: #01a9e8 none repeat scroll 0 0;
    border: 1px solid #01a9e8;
    color: #fff;
}
.m-wrap-btn {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
}
.btn-cancel {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    color: #999;
}